.filterSection li {
    list-style: none;
    margin: 0px;
    padding: 5px;
    display: inline;
}

.showItem {
    display: list-item;
}

.hideItem {
    display: none;
}

#itemsToFilter li {
    list-style: none;
    background-position: 0 3px;
    background-repeat: no-repeat;
    margin: 15 px;
    padding-left: 40px;
    font-size: 15pt;
}

td {
    padding-right: 20px;
}