#header
{
    display: inline-block;
    width: 79%;
}

#categories
{
    display: inline-block;
    padding-right: 12%;
}

#recherche
{
    display: inline-block;
}

#user
{
    width: 20%;
    display: inline-block;
    text-align: right;
}

.titre, .suit, .suivit
{
    display: inline-block;
    margin: 0 0 0.5em 0;
}