.topfilms
{
}

.titre-film, .critiques
{
    display: inline-block;
    padding-left: 10px;
}

.moyenne
{
    display: inline-block;
    position: relative;
    float: right;
    padding-right: 10px;
}

.synopsis
{
    padding: 0px 10px 0px 10px;
}

.film-card
{
    display: inline-block;
    overflow: hidden;
    height: 250px;
    width: 19%;
    border: 1px solid red;
}

.film-link
{
    color: inherit;
}


.filterSection li {
list-style: none;
margin: 0px;
padding: 5px;
display: inline;
}


.showItem {
display: list-item;
}

.hideItem {
display: none;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
z-index: 1;
}

.dropdown-content a {
display: block;
}

.show {display:block;}