.topfilms
{
}

.titre
{
    display: inline-block;
    padding-left: 10px;
}

.moyenne
{
    display: inline-block;
    position: relative;
    float: right;
    padding-right: 10px;
}

.synopsis
{
    padding: 0px 10px 0px 10px;
}

.film-card
{
    display: inline-block;
    overflow: hidden;
    height: 250px;
    width: 19%;
    border: 1px solid red;
}

.film-link
{
    color: inherit;
}

#header
{
    display: inline-block;
    width: 79%;
}

#categories
{
    display: inline-block;
    padding-right: 12%;
}

#recherche
{
    display: inline-block;
}

#user
{
    width: 20%;
    display: inline-block;
    text-align: right;
}