<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acteur</title>
</head>
<body>
 <div id="acteur-info">
    <h1 id="nom_acteur">{{acteur.nom}}</h1></br>
    <p id="date_naissance" class="info">Date de naissance : {{acteur.date}}</p></br>
    <p id="pays_origine" class="info">Pays d'origine : {{acteur.pays_origine}}</p></br>
    <p id="sexe" class="info">Sexe : {{acteur.sexe}}</p></br>
    <p id="biographie" class="info">Biographie : {{acteur.biographie}}</p></br>
  </div>
 <div id="liste">
     <h1 id="titre">Liste films</h1></br>
     {% for t in liste %}
     <div class="liste">
         <p id="titre_film" class="liste">{{t.film}}</p>
         <p class="liste"> Film : <a href="{{t.film_url}}">{{t.film}}</a></p></br>
     </div>
     {% endfor %}
 </div>
</body>
</html>