<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/film.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/header.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/critique.css') }}">
</head>
<body>
  <div id="header">
    <h1>GLO-2005 IMDb</h1>
    <div id="categories">
      <h2><a href="/">Acceuil</a> <a href="/Films">Films</a></h2>
    </div>
    <form id="recherche" action="/ResultatRecherche" method="post">
      <span>Recherche:</span><input type="text" name="recherche">
      <input type="submit" value="Rechercher" name="enregistrement">
    </form>
  </div>
  <div id="user">
    {% if not token %}
    <a href="/login">Se connecter</a>
    <a href="/signup">Créer un compte</a>
    {% else %}
    <span><a href="/user/{{ token }}">{{ token }}</a></span>
    <a href="/logout">Se déconnecter</a>
    {% endif %}
  </div>
  <div id="film-info">
    <h1 id="titre">{{film.titre}}</h1></br>
    <div id="favori">
      {% if token %}
      {% if token not in favori %}
      <form method="post" id="formFavori">
        <button form="formFavori" type="submit" name="ajout_favori" value="{{id_film}}">Favori</button></br></br>
      </form>
      {% else %}
      <form method="post" id="formSuppFavori">
        <button form="formSuppFavori" type="submit" name="supp_button" value="{{id_film}}">Retirer favori</button></br></br>
      </form>
      {% endif %}
      {% endif %}
      <p>Nombre de fois ajouté aux favoris : {{nbr_favoris}}</p>
    </div>
    </div>
    <p id="date-sortie" class="info">Date de sortie : {{film.date}}</p></br>
    <p id="duree" class="info">Durée : {{film.duree}}</p></br>
    <p id="moyenne" class="info">Note moyenne des utilisateurs : {{film.note}}</p></br>
    <p id="genre" class="info">Genre : {{film.genre}}</p></br>
    <p id="synopsis" class="info">{{film.synopsis}}</p>
  </div>
  <div id="acteurs">
    <p>Acteurs :</p>
    {% for a in acteurs %}
    <div class="acteur">
      <p class="info"><a href="{{a.acteur_url}}">{{a.nom}}</a></p>
    </div>
    {% endfor %}
  </div>
  <div id="realisateurs">
    <p>Réalisateurs :</p>
    {% for r in realisateurs %}
    <div class="realisateur">
      <p class="info"><a href="{{r.realisateur_url}}">{{r.nom}}</a></p>
    </div>
    {% endfor %}
  </div>
  <div id="critiques">
    {% if token and token not in usagers %}
    <p>Écrivez une critique publique :</p>
    <form id="formEcrireCritique" method="post">
      Titre de la critique : <input type="text" name="titre_crit">
      </br>
      Sélectionnez une note de 0 à 10 : </br>
       &nbsp&nbsp0 &nbsp&nbsp 1 &nbsp&nbsp 2 &nbsp&nbsp 3 &nbsp&nbsp 4 &nbsp&nbsp 5
      &nbsp&nbsp 6 &nbsp&nbsp 7 &nbsp&nbsp 8 &nbsp&nbsp 9 &nbsp&nbsp 10 </br>
      <input checked type="radio" name="note" value="0">
      <input type="radio" name="note" value="1">
      <input type="radio" name="note" value="2">
      <input type="radio" name="note" value="3">
      <input type="radio" name="note" value="4">
      <input type="radio" name="note" value="5">
      <input type="radio" name="note" value="6">
      <input type="radio" name="note" value="7">
      <input type="radio" name="note" value="8">
      <input type="radio" name="note" value="9">
      <input type="radio" name="note" value="10">
    </form>
    <textarea rows="4" cols="50" form="formEcrireCritique" name="texte"
              placeholder="Entrez le texte de la critique ici..."></textarea></br>
    <button form="formEcrireCritique" type="submit">Soumettre la critique</button>
    {% endif %}
    {% if modification and token in usagers %}
    <p>Modifier votre critique :</p>
    <form id="formModifCritique" method="post">
      Titre de la critique : <input type="text" name="titre_crit_modif" value="{{usager_courant.titre_critique}}">
      </br>
      Sélectionnez une note de 0 à 10 : </br>
       &nbsp&nbsp0 &nbsp&nbsp 1 &nbsp&nbsp 2 &nbsp&nbsp 3 &nbsp&nbsp 4 &nbsp&nbsp 5
      &nbsp&nbsp 6 &nbsp&nbsp 7 &nbsp&nbsp 8 &nbsp&nbsp 9 &nbsp&nbsp 10 </br>
      <input type="radio" name="note_modif" value="0">
      <input type="radio" name="note_modif" value="1">
      <input type="radio" name="note_modif" value="2">
      <input type="radio" name="note_modif" value="3">
      <input type="radio" name="note_modif" value="4">
      <input type="radio" name="note_modif" value="5">
      <input type="radio" name="note_modif" value="6">
      <input type="radio" name="note_modif" value="7">
      <input type="radio" name="note_modif" value="8">
      <input type="radio" name="note_modif" value="9">
      <input type="radio" name="note_modif" value="10">
      <script>
        for (i = 0; i <= 10; i++) {
          if ((document.getElementsByName("note_modif")[i].value).concat(".0") === "{{usager_courant.note}}"){
	        document.getElementsByName("note_modif")[i].checked = true;
          }
        }
      </script>
    </form>
    <textarea rows="4" cols="50" form="formModifCritique" name="texte_modif">
      {{usager_courant.texte}}
    </textarea></br>
    <button form="formModifCritique" type="submit">Modifier la critique</button>
    {% endif %}
    <p>Critiques :</p>
    {% for c in critiques %}
    {% if token and token == c.nom_usager %}
    <div class="critique_user critique">
      <h3> {{c.titre_critique}}</h3>
      <p class="info"> Note attribuée : {{c.note}}</p></br>
      <p><i>Ceci est votre critique</i></p>
      <form style="display: inline-block">
        <input type="submit" name="update_button" value="Éditer">
      </form>
      <form method="post" style="display: inline-block">
        <input type="submit" name="delete_button" value="Supprimer">
      </form></br>
      <p class="info"> Nombre de personnes qui aiment votre critique : {{c.nombre_aimes}}</p></br>
      <p class="info">{{c.date_ecriture}}</p></br>
      <p id="texte_critique_user" class="info">{{c.texte}}</p>
    </div>
    {% endif %}
    {% endfor %}
    {% for c in critiques %}
    <div class="autres_critique critique">
      {% if token != c.nom_usager %}
      <h3> {{c.titre_critique}}</h3>
      <p class="info padded"> Par : <a href="{{c.nom_usager_url}}">{{c.nom_usager}}</a></p>
      <p class="info"> Note attribuée : {{c.note}}</p></br>
      {% if token %}
      {% if token not in c.user_qui_ont_aime %}
      <form method="post" id="formLike"></form>
      <button form="formLike" type="submit" name="like" value="{{c.nom_usager}}">Aimer</button></br></br>
      {% else %}
      <form method="post" id="formUnlike"></form>
      <button form="formUnlike" type="submit" name="unlike" value="{{c.nom_usager}}">Ne plus aimer</button></br></br>
      {% endif %}
      {% endif %}
      <p class="info"> Nombre de personnes qui aiment cette critique : {{c.nombre_aimes}}</p></br>
      <p class="info">{{c.date_ecriture}}</p></br>
      <p id="texte_critique" class="info">{{c.texte}}</p>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</body>
