<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/film.css') }}">
</head>
<body>
  <div id="film-info">
    <h1>GLO-2005 IMDb</h1>
    <h2><a href="/">Acceuil</a> <a href="/Films">Films</a> <a href="/">Acteurs</a></h2>
    <form action="/ResultatRecherche" method="post">
        Recherche: <input type="text" name="recherche">
        <input type="submit" value="Soumettre" name="enregistrement">
    <h1 id="titre">{{film.titre}}</h1></br>
    <p id="date-sortie" class="info">Date de sortie : {{film.date}}</p></br>
    <p id="duree" class="info">Durée : {{film.duree}}</p></br>
    <p id="moyenne" class="info">Note moyenne des utilisateurs : {{film.note}}</p></br>
    <p id="genre" class="info">Genre : {{film.genre}}</p></br>
    <p id="synopsis" class="info">{{film.synopsis}}</p>
  </div>
  <div id="acteurs">
    <p>Acteurs :</p>
    {% for a in acteurs %}
    <div class="acteur">
      <p class="info"><a href="{{a.acteur_url}}">{{a.nom}}</a></p>
    </div>
    {% endfor %}
  </div>
  <div id="realisateurs">
    <p>Réalisateurs :</p>
    {% for r in realisateurs %}
    <div class="realisateur">
      <p class="info"><a href="{{r.realisateur_url}}">{{r.nom}}</a></p>
    </div>
    {% endfor %}
  </div>
  <div id="critiques">
    <p>Critiques :</p>
    {% for c in critiques %}
    <div class="critique">
      <h3> {{c.titre_critique}}</h3>
      <p class="info"> Par : <a href="{{c.nom_usager_url}}">{{c.nom_usager}}</a></p></br>
      <p class="info">{{c.date_ecriture}}</p></br>
      <p class="info"> Note attribuée : {{c.note}}</p></br>
      <p id="texte_critique" class="info">{{c.texte}}</p>
    </div>
    {% endfor %}
  </div>
</body>
