<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/header.css') }}">
  </head>
  <body>
    <div id="header">
      <h1>GLO-2005 IMDb</h1>
      <div id="categories">
	<h2><a href="/">Acceuil</a> <a href="/Films">Films</a> <a href="/">Acteurs</a></h2>
      </div>
      <form id="recherche" action="/ResultatRecherche" method="post">
        <span>Recherche:</span><input type="text" name="recherche">
        <input type="submit" value="Rechercher" name="enregistrement">
      </form>
    </div>
    <div id="user">
      {% if not token %}
      <a href="/login">Se connecter</a>
      <a href="/signup">Créer un compte</a>
      {% else %}
      <span><a href="/user/{{ token }}">{{ token }}</a></span>
      <a href="/logout">Se déconnecter</a>
      {% endif %}
    </div>
    <div class="topfilms">
      {% for f in films %}
	 <div class="film-card">
	   <p class="titre"><a class="film-link" href="{{f.film_url}}">{{f.titre}}</a></p>
	   <p class="moyenne">{{f.moyenne}}</p>
	   <p class="synopsis">{{f.synopsis}}</p>
	 </div>
      {% endfor %}
    </div>
  </body>
</html>
