<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Realisateur</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/header.css') }}">
</head>
<body>
  <div id="header">
    <h1>GLO-2005 IMDb</h1>
    <div id="categories">
      <h2><a href="/">Acceuil</a> <a href="/Films">Films</a> <a href="/">Acteurs</a></h2>
    </div>
    <form id="recherche" action="/ResultatRecherche" method="post">
      <span>Recherche:</span><input type="text" name="recherche">
      <input type="submit" value="Rechercher" name="enregistrement">
    </form>
  </div>
  <div id="user">
    {% if not token %}
    <a href="/login">Se connecter</a>
    <a href="/signup">Créer un compte</a>
    {% else %}
    <span>{{ token }}</span>
    <a href="/logout">Se déconnecter</a>
    {% endif %}
  </div>
  <div id="realisateur-info">
    <h1 id="nom_realisateur">{{realisateur.nom}}</h1></br>
    <p id="date_naissance" class="info">Date de naissance : {{realisateur.date}}</p></br>
    <p id="pays_origine" class="info">Pays d'origine : {{realisateur.pays_origine}}</p></br>
    <p id="sexe" class="info">Sexe : {{realisateur.sexe}}</p></br>
    <p id="biographie" class="info">Biographie : {{realisateur.biographie}}</p></br>
  </div>
  <div id="liste">
    <p>Liste de films:</p>
    {% for f in liste %}
    <p id="titre_film" class="liste"><a href="{{f.film_url}}">{{f.titre}}</a></p>
    {% endfor %}
  </div>
</body>
</html>
