<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Realisateur</title>
</head>
<body>
<div id="realisateur-info">
    <h1 id="nom_realisateur">{{realisateur.nom}}</h1></br>
    <p id="date_naissance" class="info">Date de naissance : {{realisateur.date}}</p></br>
    <p id="pays_origine" class="info">Pays d'origine : {{realisateur.pays_origine}}</p></br>
    <p id="sexe" class="info">Sexe : {{realisateur.sexe}}</p></br>
    <p id="biographie" class="info">Biographie : {{realisateur.biographie}}</p></br>
  </div>
 <div id="liste">
     <p>Liste de films:</p>
     <p id="titre_film" class="liste"> {{liste}}</p>
 </div>
</body>
</html>