<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
  </head>
  <body>
    <h1>GLO-2005 IMDb</h1>
    <h2><a href="/">Acceuil</a> <a href="/Films">Films</a> <a href="/">Acteurs</a></h2>
    <form action="/ResultatRecherche" method="post">
        Recherche: <input type="text" name="recherche">
        <input type="submit" value="Soumettre" name="enregistrement">
    <div class="topfilms">
        <h2>Films</h2><br>
      {% for f in film %}
	   <p class="titre"><a class="film-link" href="{{f.film_url}}">{{f.titre}}</a></p><br>

      {% endfor %}
    </div>
    <div class="topfilms">
        <h2>Acteurs</h2><br>
      {% for a in acteur %}
	   <p class="titre"><a class="film-link" href="{{a.acteur_url}}">{{a.nom}}</a></p><br>
      {% endfor %}
    </div>
    <div class="topfilms">
        <h2>Realisateurs</h2><br>
      {% for r in realisateur %}
	   <p class="titre"><a class="film-link" href="{{r.realisateur_url}}">{{r.nom}}</a></p><br>
      {% endfor %}
    </div>
    <div class="topfilms">
        <h2>Utilisateur</h2><br>
      {% for u in utilisateur %}
	   <p class="titre"><a class="film-link" href="{{u.utilisateur_url}}">{{u.nom}}</a></p><br>
      {% endfor %}
    </div>
  </body>
</html>