<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/user.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/header.css') }}">
  </head>
  <body>
    <div id="header">
      <h1>GLO-2005 IMDb</h1>
      <div id="categories">
	<h2><a href="/">Acceuil</a> <a href="/Films">Films</a> <a href="/">Acteurs</a></h2>
      </div>
      <form id="recherche" action="/ResultatRecherche" method="post">
        <span>Recherche:</span><input type="text" name="recherche">
        <input type="submit" value="Rechercher" name="enregistrement">
      </form>
    </div>
    <div id="user">
      {% if not token %}
      <a href="/login">Se connecter</a>
      <a href="/signup">Créer un compte</a>
      {% else %}
      <span>{{ token }}</span>
      <a href="/logout">Se déconnecter</a>
      {% endif %}
    </div>
    <div>
      <h1 id="nom_usager">{{nom_usager}}</h1></br>
    </div>
    <div id="date">
        {% for d in date%}
        <p id="date_creation" class="date">Date de creation du profil: {{d.date}}</p>
    </div>
    <div id="favoris">
        <p>Liste de filmes favoris:</p>
        {% for f in favoris %}
        <p id="liste_favoris" class="favoris"><a href="{{f.film_url}}">{{f.titre}}</a></p>
        {% endfor %}
    </div>
    <div id="suivit">
        <p>Suivit par:</p>
        {% for s in suivit %}
        <p id="suivit_par" class="suivit"><a href="{{s.user_url}}">{{s.username}}</a></p>
        {% endfor %}
    </div>
    <div id="suit">
        <p>Suivit par:</p>
        {% for c in suit %}
        <p id="suivre" class="suit"><a href="{{c.user_url}}">{{c.username}}</a></p>
        {% endfor %
    </div>
    <div id="critiques">
      <p>Critiques :</p>
      {% for c in critiques %}
      <div class="critique">
        <h3> {{c.titre_critique}}</h3>
        <p class="info"> Film : <a href="{{c.film_url}}">{{c.titre_film}}</a></p></br>
        <p class="info"> {{c.date_ecriture}}</p></br>
        <p class="info"> Note attribuée : {{c.note}}</p></br>
        <p id="texte_critique" class="info">{{c.texte}}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>

