<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/user.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/critique.css') }}">
  </head>
  <body>
    <div id="header">
      <h1>GLO-2005 IMDb</h1>
      <div id="categories">
	<h2><a href="/">Acceuil</a> <a href="/Films">Films</a></h2>
      </div>
      <form id="recherche" action="/ResultatRecherche" method="post">
        <span>Recherche:</span><input type="text" name="recherche">
        <input type="submit" value="Rechercher" name="enregistrement">
      </form>
    </div>
    <div id="user">
      {% if not token %}
      <a href="/login">Se connecter</a>
      <a href="/signup">Créer un compte</a>
      {% else %}
      <span><a href="/user/{{ token }}">{{ token }}</a></span>
      <a href="/logout">Se déconnecter</a>
      {% endif %}
    </div>
    <div>
      <h1 id="nom_usager">{{nom_usager}}</h1></br>
    </div>
    {% if bouton %}
    <div>
      <form action="/user/{{nom_usager}}" method="post">
	{% if suivi %}
	<button type="submit" name="unfollow" value="{{nom_usager}}">Ne plus suivre</button>
	{% else %}
	<button type="submit" name="follow" value="{{nom_usager}}">Suivre</button>
	{% endif %}
      </form>
    </div>
    {% endif %}
    <div id="date">
      {% for d in date%}
      <p id="date_creation" class="date">Date de creation du profil: {{d.date}}</p></br>
      {% endfor %}
    </div>
    <div id="favoris">
        <p>Liste de films favoris:</p>
        {% for f in favoris %}
        <p id="liste_favoris" class="favoris"><a href="{{f.film_url}}">{{f.titre}}</a></p></br>
        {% endfor %}
    </div>
    <div id="suivit">
        <p>Abonnés:</p>
        {% for s in suivit %}
        <p id="suivit_par" class="suivit"><a href="{{s.user_url}}">{{s.username}}</a></p></br>
        {% endfor %}
    </div>
    <div id="suit">
        <p>Abonnements:</p>
        {% for c in suit %}
        <p id="suivre" class="suit"><a href="{{c.user_url}}">{{c.username}}</a></p></br>
        {% endfor %}
    </div>
    <div id="critiques">
      <p>Critiques :</p>
      {% for c in critiques %}
      <div class="critique">
        <h3> {{c.titre_critique}}</h3>
        <p class="info"> Film : <a href="{{c.film_url}}">{{c.titre_film}}</a></p></br>
	    {% if token %}
	    {% if token == nom_usager %}
	    <form method="post" id="crit_page_user"></form>
        <button form="crit_page_user" type="submit" name="update_button" value="{{c.id_film}}">Éditer</button>
        <button form="crit_page_user" type="submit" name="delete_button" value="{{c.id_film}}">Supprimer</button></br></br>
	    {% elif token not in c.user_qui_ont_aime %}
        <form method="post" id="formLike"></form>
        <button form="formLike" type="submit" name="like" value="{{c.id_film}}">Aimer</button></br></br>
        {% else %}
        <form method="post" id="formUnlike"></form>
        <button form="formUnlike" type="submit" name="unlike" value="{{c.id_film}}">Ne plus aimer</button></br></br>
        {% endif %}
        {% endif %}
 	    <p class="info"> Nombre de personnes qui aiment cette critique : {{c.nombre_aimes}}</p></br>
        <p class="info"> {{c.date_ecriture}}</p></br>
        <p class="info"> Note attribuée : {{c.note}}</p></br>
        <p id="texte_critique" class="info">{{c.texte}}</p>
          <form method="post" id="ajout_favori"></form>
      </div>
      {% endfor %}
    </div>
  </body>
</html>

