<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/user.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/header.css') }}">
  </head>
  <body>
    <div id="header">
      <h1>GLO-2005 IMDb</h1>
      <div id="categories">
	<h2><a href="/">Acceuil</a> <a href="/Films">Films</a> <a href="/">Acteurs</a></h2>
      </div>
      <form id="recherche" action="/ResultatRecherche" method="post">
        <span>Recherche:</span><input type="text" name="recherche">
        <input type="submit" value="Rechercher" name="enregistrement">
      </form>
    </div>
    <div id="user">
      {% if not token %}
      <a href="/login">Se connecter</a>
      <a href="/signup">Créer un compte</a>
      {% else %}
      <span>{{ token }}</span>
      <a href="/logout">Se déconnecter</a>
      {% endif %}
    </div>
    <div>
      <h1 id="nom_usager">{{nom_usager}}</h1></br>
    </div>
    <div id="critiques">
      <p>Critiques :</p>
      {% for c in critiques %}
      <div class="critique">
        <h3> {{c.titre_critique}}</h3>
        <p class="info"> Film : <a href="{{c.film_url}}">{{c.titre_film}}</a></p></br>
	    {% if token %}
	    {% if token == nom_usager %}
	    <form method="post" id="del_crit_page_user"></form>
        <button form="del_crit_page_user" type="submit" name="delete_button" value="{{c.id_film}}">Supprimer</button></br></br>
	    {% elif token not in c.user_qui_ont_aime %}
        <form method="post" id="formLike"></form>
        <button form="formLike" type="submit" name="like" value="{{c.id_film}}">Aimer</button></br></br>
        {% else %}
        <form method="post" id="formUnlike"></form>
        <button form="formUnlike" type="submit" name="unlike" value="{{c.id_film}}">Ne plus aimer</button></br></br>
        {% endif %}
        {% endif %}
 	    <p class="info"> Nombre de personnes qui aiment cette critique : {{c.nombre_aimes}}</p></br>
        <p class="info"> {{c.date_ecriture}}</p></br>
        <p class="info"> Note attribuée : {{c.note}}</p></br>
        <p id="texte_critique" class="info">{{c.texte}}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>

